<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Tekla.Structures" publicKeyToken="2f04dbe497b71114" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2099.1.0.0" newVersion="2022.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Tekla.Structures.Catalogs" publicKeyToken="2f04dbe497b71114" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2099.1.0.0" newVersion="2022.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Tekla.Structures.Datatype" publicKeyToken="2f04dbe497b71114" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2099.1.0.0" newVersion="2022.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Tekla.Structures.Dialog" publicKeyToken="2f04dbe497b71114" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2099.1.0.0" newVersion="2022.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Tekla.Structures.Drawing" publicKeyToken="2f04dbe497b71114" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2099.1.0.0" newVersion="2022.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Tekla.Structures.Model" publicKeyToken="2f04dbe497b71114" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2099.1.0.0" newVersion="2022.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Tekla.Structures.Plugins" publicKeyToken="2f04dbe497b71114" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2099.1.0.0" newVersion="2022.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>